:root {
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  --darkBlue: hsl(234, 12%, 34%);
  --greyBlue: hsl(229, 6%, 66%);
  --lightGrey: hsl(0, 0%, 98%); }

*, :before, :after {
  box-sizing: border-box; }

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--lightGrey); }

.container {
  --auto-grid-min-size: 20rem;
  padding: 70px 60px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--auto-grid-min-size), 2fr));
  grid-gap: 1rem;
  justify-content: center; }

.header {
  text-align: center;
  color: var(--darkBlue); }
  .header > h2 {
    font-weight: 600;
    margin: 0;
    padding: 0;
    font-size: 1.8rem; }
    .header > h2:first-child {
      font-weight: 200; }
    .header > h2 + p {
      font-weight: 200;
      margin: 20px auto 0 auto;
      color: var(--greyBlue);
      line-height: 1.5em; }

main .container {
  padding: 0 60px 70px 60px; }
  main .container article {
    background-color: white;
    box-shadow: 1px 10px 15px rgba(212, 212, 212, 0.9);
    padding: 10px 40px 30px 40px;
    margin: 10px;
    border-radius: 5px;
    color: var(--darkBlue);
    display: grid;
    grid-template-rows: repeat(26, 10px); }
    main .container article img {
      justify-self: right;
      align-self: flex-end;
      grid-row: 25; }
    main .container article > h2 {
      font-weight: 600;
      font-size: 20px;
      line-height: 2em;
      grid-row: 1 / 3; }
      main .container article > h2 + p {
        font-weight: 200;
        color: var(--greyBlue);
        margin-top: 0;
        grid-row: 8; }
    main .container article:first-of-type {
      border-top: 5px solid var(--cyan); }
    main .container article:nth-of-type(2) {
      border-top: 5px solid var(--red); }
    main .container article:nth-of-type(3) {
      border-top: 5px solid var(--orange); }
    main .container article:last-of-type {
      border-top: 5px solid var(--blue); }

@media (max-width: 320px) {
  .container {
    --auto-grid-min-size: 18rem; } }

@media (max-width: 524px) {
  .header > h2 {
    font-size: 1.4em; } }

@media (min-width: 925px) {
  .header h2 + p {
    width: 50%; } }

@media (min-width: 1174px) {
  main .container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(8, 65px); }
    main .container article:first-of-type, main .container article:last-of-type {
      grid-row: 3 / 7; }
    main .container article:nth-of-type(2) {
      grid-row: 1 / 5; }
    main .container article:nth-of-type(3) {
      order: 4;
      grid-row: 5 / 9; }
    main .container article:last-of-type {
      order: 3;
      grid-column: 3; } }

@media (min-width: 1366px) {
  main .container {
    grid-template-columns: repeat(3, 400px); } }
