:root {
      /* Border colors */
      --red: hsl(0, 78%, 62%);
      --cyan: hsl(180, 62%, 55%);
      --orange: hsl(34, 97%, 64%);
      --blue: hsl(212, 86%, 64%);
      /* Text colors */
      --darkBlue: hsl(234, 12%, 34%);
      --greyBlue: hsl(229, 6%, 66%);
      --lightGrey: hsl(0, 0%, 98%);
}
/* Global */
html {
      box-sizing: border-box
}
body {
      font-family: 'Poppins', sans-serif;
      background-color: var(--lightGrey)
}
.container {
      padding: 70px 60px;
}
/* Header */
.header {
      text-align: center;
      color: var(--darkBlue);
}
.header > h1:first-child {
      font-weight: 200;
}
.header > h1 {
      font-weight: 600;
      margin: 0;
      padding: 0;
      font-size: 30px;
}
.header h1 + p {
      font-weight: 200;
      width: 45%;
      margin: 20px auto 0 auto;
      color : var(--greyBlue);
}
/* Cards */
main .container {
      width: 80%;
      padding: 0 60px 70px 60px;
      margin: auto;
}
main .container article {
      background-color: var(--lightGrey);
      box-shadow: 1px 10px 15px rgba(212, 212, 212, 0.9);
      display: inline-block;
      width: 320px;
      padding: 10px 40px 30px 40px;
      margin: 10px;
      border-radius: 5px;
      color: var(--darkBlue);
      overflow: hidden;
}
main .container article img {
      float: right;
      padding-top: 50px;
}
main .container article > h3 {
      font-weight: 600;
}
main .container article > p {
      font-weight: 200;
      color: var(--greyBlue);
}
main .container article:first-of-type {
      border-top: 5px solid var(--cyan);      
}
main .container article:nth-of-type(2) {
      border-top: 5px solid var(--red);
}
main .container article:nth-of-type(3) {
      border-top: 5px solid var(--orange);
}
main .container article:last-of-type {
      border-top: 5px solid var(--blue);      
}

@media (max-width: 768px) {
      .container {
            width: 90%;             
            padding: 0;
            margin: auto !important
      }
      .header {
            width: 80%;  
            padding: 70px 40px 30px 40px;    
      }
      .header h1 {
            font-size: 1.4em;            
      }
      .header h1 + p {
            width: 100%;
            font-size: 0.9em
      }
      main .container {
            padding: 10px;
      }
      main .container article {
            width: 85%;
            margin: 20px auto;
            padding: 20px 40px 30px 20px;
      }
}
@media (min-width: 769px) and (max-width: 993px) {
      main .container {
            display: flex;
            flex-wrap: wrap;
      }
      main .container article {
            width: 30%;
      }
}
@media (min-width: 994px) and (max-width: 1365px) {
      main .container {
            display: flex;
            flex-wrap: wrap;
      }
      main .container article {
            width: 37%;
      }
}
@media (min-width: 1366px) {
      main .container {
            position: relative;
            width: auto
      }
      main .container article {
            display: block;
            margin: auto auto 30px auto;
      }
      main .container article:last-of-type {
            position: absolute;
            right: 4%;
            top: 25%;
      }
      main .container article:first-of-type {
            position: absolute;
            left: 4%;
            top: 25%;
      }
}
@media (min-width: 1440px) {
      main .container article:last-of-type {            
            right: 7%;            
      }
      main .container article:first-of-type {            
            left: 7%;            
      }
}